body {
  background-color: #274472 !important;
  background: linear-gradient(
    187deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(90, 133, 173, 1) 90%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.icon {
  transition: transform 0.25s ease;
}

.icon:hover {
  color: #424242;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

.icon.icon--paper {
  background-image: url("../../assets/game-rps/kertas.png");
  width: 7em;
  min-height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon.icon--rock {
  background-image: url("../../assets/game-rps/batu.png");
  width: 7em;
  min-height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon.icon--scissors {
  background-image: url("../../assets/game-rps/gunting.png");
  width: 7em;
  min-height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
}

.active {
  background-color: rgba(255, 255, 255, 0.304);
  border-radius: 1em;
  border-width: 1em;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15);
}

.game {
  height: 100%;
  justify-content: space-between !important;
}

h1,
h2,
h3,
h4,
span,
text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
