.text.win {
  background-color: darkgreen;
  font-size: larger;
  width: 2em;
  height: 5em;
  padding: 2em;
  border-radius: 0.75em;
}

.text.draw {
  background-color: rgb(121, 85, 19);
  font-size: larger;
  width: 2em;
  height: 5em;
  padding: 2em;
  border-radius: 0.75em;
}

.text.lose {
  background-color: red;
  font-size: larger;
  width: 2em;
  height: 5em;
  padding: 2em;
  border-radius: 0.75em;
}
