.containerGameList{
    background-image: url(../assets/images/background-game-list.jpg);
    padding-top: 50px; 
    background-size: 100% 100%;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Open Sans"; 
}

.edgeText {
    text-shadow:0 0 2px black
}

.removeHighlight{
    color: black;
    text-decoration: none;
    font-family: "Open Sans"; 
}