.containerGameDetail{
    background-image: url(../assets/images/background-game-detail.jpg);
    padding-top: 40px; 
    background-size: 100% 100%;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Open Sans"; 
}

.contentGameDetail{
    width: 65% !important;
}

.imageGameSize {
    width: 16em;
    border-radius: 20px;
    height: 16em;
}

.fontGameName{
    font-size: 4em;
    font-family: "Open Sans"; 
    color: white;
}

.fontGameDesc{
    font-size: 1.2em;
    font-family: "Open Sans"; 
    color: white;
}

.leaderboardTable{
    margin: auto;
    width: 50% !important; 
    color: white;
}

.fontTable{
    font-size: 1.2em;
    font-family: "Open Sans"; 
    color: white;
}