@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.landing-page {
  margin: 0%;
  padding: 0%;
  background-image: url(../assets/landing-bg.jpg);
  font-family: "Open Sans";
  font-weight: bold;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  background-size: 100%;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: "bold";
}
.landing-page .headings {
  justify-content: center;
}
