@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

.container-login {
  background-image: url(../assets/login-bg.jpg);
  padding-top: 85px;
  padding-bottom: 100px;
  background-size: 100% 100%;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans";
}

.title_login {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.login-form {
  border: 3px solid #eceaea;
  border-radius: 1em;
  /* margin-bottom: 1em; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding: 3em;
  text-align: left;
  width: 500px;
  /* background-color: #eceaea; */
  background: rgba(255, 255, 255, 0.7);
}

.forgotPass {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 16.5px;
  padding-bottom: 15px;
  text-decoration: none !important;
}

.form-control {
  height: 100% !important;
}

label {
  font-weight: 700;
}

button {
  margin-top: 20px;
}

.form-control {
  height: 100%;
}
