@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

.container_profile {
    padding-top: 20px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Open Sans";
    display: flex;
    justify-content: right;
    padding-bottom: 40px; 
    background-size: 100% 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../assets/profile_backgrounf.jpg);
    background-repeat: no-repeat;
}


.title {
    font-weight: bolder;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:50px;
}

form {
    background: rgba(255, 255, 255, 0.2);
    padding: 2em;
    padding-top: .5em;
    padding-bottom: .6em;
    margin-bottom: auto;
    margin-top: 1em;
    border-radius: 2em;
    margin-right: 50px;
    font-weight: bold;
}

.button-profile {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: larger;
}