@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body {
  overflow: hidden;
}

.container-register {
  background-image: url(../assets/register_background.jpg);
  padding-top: 40px;
  background-size: 100% 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-size: 100%;
  font-family: "Open Sans";
  /* background-repeat: no-repeat; */
}

.title_register {
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 40px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.register {
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4em;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: aliceblue;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: auto;
}

.form-control {
  height: 100% !important;
}
